/************ Banner Css ************/
.banner {
    /* border: 2px hotpink solid; */
    margin-top: 0;
    padding: 180px 0 120px 0;
    background-image: url('../assets/img/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 16px;

    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 1rem 0 1rem;
    font-size: 20px;
    margin-bottom: 50px;
    /* inline-block: Takes only content space not a available space 
    and reflect margin and width */
    display: inline-block;
}

.banner h1 {
    /* border: 1px solid white; */
    font-family: var(--centra-font);
    height: 200px;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
}

span.wrap {
    color: aqua;
    font-size: 4rem;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner .btn-download {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner .btn-download svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner .btn-download:hover svg {
    margin-left: 25px;
}

.banner .ani-img {
    position: relative;

    animation: updown 3s linear infinite;
}

.banner .ani-img img {
    margin: 20px 0;
    width: 70%;

    border-radius: 50%;
    border: 20px solid rgba(255, 255, 255, 0.17);
    /* outline: 20px solid rgba(100, 100, 100, 0.2); */


}

.banner .ani-img::after {
    content: "";
    position: absolute;
    width: calc(70% + 40px);
    height: calc(100% - 0px);

    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 20px solid rgba(100, 100, 100, 0.2);

    border-radius: 50%;

}



.my-info {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.my-info li img {
    width: 25px;
    margin: 10px;
    /* display: inline; */
    /* border: 1px solid white; */
    /* fill: white; */
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
}

.my-info a {
    text-decoration: none;
    color: rgb(174, 172, 172) !important;
    font-size: 1.2rem;
    /* border: 1px solid white; */
}

.my-info a:hover {
    text-decoration: none;
    color: white !important;
}

.my-info a:visited {
    color: white !important;
}

.my-info li address {
    display: inline;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

@media (max-width:990px) {


    .banner h1 {

        height: 150px;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 50px;
    }

    span.wrap {
        color: aqua;
        font-size: 3rem;
    }

    .banner .btn-download {
        margin-top: 0;
        margin-bottom: 30px;
    }

    ol,
    ul {
        padding: 0 !important;
    }
}

@media (max-width:768px) {
    .banner {
        padding-top: 70px;
    }

    .banner h1 {

        height: 150px;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    span.wrap {
        color: aqua;
        font-size: 2.5rem;
    }

    .banner .my-info {
        align-items: center;

    }

    .btn-download {
        margin: 0 auto;
    }

}

/* @media (max-width:348px) { */
@media (max-width:400px) {

    .banner .tagline {
        font-weight: 700;
        letter-spacing: 0.8px;
        padding: 8px 8px;
        background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 18px;
    }

    .banner h1 {

        height: 150px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    span.wrap {
        color: aqua;
        font-size: 1.5rem;
    }

    .my-info li img {
        width: 25px;
        margin: 1px;
    }

    .my-info a {
        /* text-decoration: none;
        color: rgb(174, 172, 172) !important; */
        font-size: 1rem;

        /* border: 1px solid white; */
    }


    .banner h1 {

        height: 120px;

    }

    @media (max-width:280px) {
        .my-info a {
            /* text-decoration: none;
            color: rgb(174, 172, 172) !important; */
            font-size: 0.8rem;

            /* border: 1px solid white; */
        }
    }

    /* ------------- */


}