@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

/* :root {
    --num1: 90;
    --num: 20;
} */


.circle-progress-bar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}



.circle-progress-bar .meter {
    --fg: #32413e 50%;
    --bg: rgba(11, 206, 175, 0.5);
    --color: rgb(11, 206, 175);
    --size: 150px;
    --size-small: 140px;
    font-family: 'Cormorant Garamond', serif;

    /* font: 800 40px system-ui; */
    /* padding: 2rem; */

    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size)/6);
    border-radius: 50%;


    margin-bottom: 5px;

    display: grid;
    place-items: center;
    background:
        radial-gradient(farthest-side, var(--fg) 90%, transparent 0 99.9%, var(--color) 0),
        conic-gradient(var(--color) calc(var(--num) * 1%), var(--bg) 0);
    color: white;
    /* counter-increment: var(--value); */
    /* animation: counter 5s infinite alternate ease-in-out; */
    /* animation: counter 3s 1 forwards;
    counter-reset: num var(--num); */
}


.circle-progress-bar .meter::after {
    content: counter(num) '%';
}

.circle-progress-bar .meter.animation {
    -webkit-animation: animation-circular-prograsive-bar 2s 1 forwards;
    -z-animation: animation-circular-prograsive-bar 2s 1 forwards;
    -o-animation: animation-circular-prograsive-bar 2s 1 forwards;
    animation: animation-circular-prograsive-bar 2s 1 forwards;
    counter-reset: num var(--num);
}

.circle-progress-bar .title {
    font-family: 'Poppins', sans-serif;
    color: #e3e3e3;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0 24px 0;
}

@keyframes animation-circular-prograsive-bar {
    from {
        --num: 0;
    }

    to {
        --num: var(--value);
    }
}

@media (max-width:396px) {

    .circle-progress-bar .meter {
        --fg: #32413e 50%;
        --bg: rgba(11, 206, 175, 0.5);
        --color: rgb(11, 206, 175);
        --size: 150px;
        --size-small: 100px;
        font-family: 'Cormorant Garamond', serif;

        /* font: 800 40px system-ui; */
        /* padding: 2rem; */

        width: var(--size-small);
        height: var(--size-small);
        /* font-size: calc(var(--size-small)/6); */
        font-size: 1rem;
    }

    .circle-progress-bar .title {
        font-size: 0.9rem;
        gap: 1rem;
    }

    .circle-progress-bar {
        /* text-align: center; */
    }
}