.header-nav {
    width: 100%;
    padding: 16px 0;
    /* padding: 18px 0; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* background-color: var(--body-color); */
    transition: 0.32s ease-in-out;

    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)); */
}

.header-nav.hidden {
    display: none;
}

.header-nav.scrolled {
    padding: 10px 0;
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0.5));
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)); */
}

.mk-navbar {
    /* height: calc(var(--nav-height) + 1.5rem); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 1rem; */
}

.mk-navbar-menu {

    padding: 0;
}

.mk-navbar-logo {
    padding: 10px 20px;
    border: 0.5px rgb(51, 4, 51) white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
    row-gap: 7px;
    background: linear-gradient(90deg, rgba(51, 2, 51, 1) 50%, rgba(51, 2, 51, 0.5) 90%);

}

.mk-navbar-logo img {
    width: 80px;
}

.nave-toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.mk-navbar-list {
    display: flex;
    column-gap: 3rem;
    margin: 0;
}

.mk-navbar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: var(--small-font-size);
    font-weight: var(--font-medium); */
    font-size: var(--h4-font-size);
    font-weight: var(--font-light);
    color: var(--title-color-dark);
    transition: 0.3s;
}

/* .mk-navbar-name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-light);
} */

.mk-navbar-icon,
.mk-navbar-close,
.mk-navbar-toggle {
    display: none;
}

/* Active Link */
.active-link,
.mk-navbar-link:hover {
    color: var(--title-color);
}

/* ================= BREAK POINTS ================= */
/* For Large Devices */
@media screen and (max-width:1000px) {
    .mk-navbar-list {
        column-gap: 1rem;
    }



    .mk-navbar-logo img {
        width: 50px;
    }
}

@media screen and (max-width:992px) {}

/* For Medium Devices */
@media screen and (max-width:768px) {
    .header-nav {
        top: initial;
        bottom: 0;
        padding: 10px 0;
    }

    .nav {
        height: var(--header-height);
    }

    .mk-navbar-logo {
        display: none;
    }

    .mk-navbar-menu {
        position: fixed;
        /* Showing menu-> bottom:0 */
        bottom: 0;
        /* Hiding menu-> bottom:-100% */
        /* bottom: -100%; */
        left: 0px;
        width: 100%;
        /* background: linear-gradient(0deg, black, transparent); */
        background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.5));
        /* background-color: rgba(0, 0, 0, 0.7); */
        /* background-color: var(--body-color); */
        /* padding: 2rem 1.5rem 4rem; */
        padding: 1rem;
        /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); */
        /* padding: 1.5rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem; */
        transition: 0.4s;
        /* border: 1px solid hotpink; */

    }

    .mk-navbar-menu::before {
        content: '';
        background: rgba(0, 0, 0, 0.7)
    }


    /* Showing menu-> bottom:0 */
    .show-menu {
        bottom: 0;
    }

    .mk-navbar-list {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem; */
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        padding: 10px 20px;
        /* background: linear-gradient(180deg, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0.6)); */
        justify-content: center;

    }

    .mk-navbar-list::-webkit-scrollbar {
        display: none;
    }

    .mk-navbar-icon {
        font-size: 1.2rem;
    }

    .mk-navbar-close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .mk-navbar-close:hover {
        color: var(--title-color-dark);
    }

    .mk-navbar-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .mk-navbar-icon,
    .mk-navbar-close,
    .mk-navbar-toggle {
        display: block;
    }
}

@media screen and (max-width:650px) {
    .mk-navbar-icon {
        font-size: 1.5rem;
    }

    .mk-navbar-name {
        display: none;
    }
}

/* For Small Devices */
@media screen and (max-width:380px) {
    /* .mk-navbar-icon {
        font-size: 1rem;
    } */

    .mk-navbar-menu {
        /* padding: 2rem 0.25rem 4rem; */
    }

    .mk-navbar-list {
        column-gap: 1rem;
    }
}

/* -------------------end ---------------------- */