.skills {
    padding-top: var(--section-padding-full);
    margin-bottom: 30px;
    position: relative;
    /* border: 2px dotted hotpink; */
}

.skill-bx {
    background: #131515;
    border-radius: 64px;
    text-align: center;
    padding: 20px 50px;
    /* margin-top: -60px !important; */
}

.skill-developer {
    display: inline-block;
    /* border: 1px solid white; */
}

.skill-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(160, 160, 160, transparent);
    border-radius: 1rem;
    padding: 1.5rem 1rem 0rem;

    background-color: rgba(50, 50, 50, 0.1);
    flex-wrap: wrap;
}

/* .skill-bx h2 {
    font-size: 45px;
    font-weight: 700;

} */

.skill-bx p {
    color: #e3e3e3;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 0px 0 24px 0;

}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

.background-image-left {
    /* border: 1px solid white; */
    position: absolute;
    top: 28%;
    /* bottom: 0; */
    left: 0;
    width: 40%;
    z-index: -44;

}

/* ----------------- */
@media (max-width:390px) {
    .skill-bx {
        /* background: #131515;
        border-radius: 64px;
        text-align: center;
        padding: 60px 50px; */
        margin-top: -90px !important;
    }

}